<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>welcome to fourth_class html page</h1>
        <a href="{% url 'C:fifth_class' %}">go to fifth_class page</a><br>
        <a href="{% url 'C:sixth_class' %}">go to sixth_class page</a><br>
        <a href="{% url 'first_class' %}">go to first_class page</a><br>
        <a href="{% url 'second_class' %}">go to second class page</a><br>
        <a href="{% url 'B:third_class' %}">go to third class page</a><br>
        <a href="{% url 'B:fourth_class' %}">go to fourth_class page</a>

    </center>
</body>
</html>